//output:../shop.html
DOCKTYPE
html
    include page-parts/head.jade
    body
        div(class="grid-main")
            include page-parts/top-bar.jade
            include page-parts/ad-area.jade
            include page-parts/top-navigation.jade
            include page-parts/shopping-area.jade
            include page-parts/footer.jade
            
        include ../../common/overlay/overlay.jade
