@import "__resets.scss";

.overlay {

    $check-box-size: 30px;
    $button-width: 150px;
    $gray-extra-light: rgb(241, 241, 241);

    &__container {
        position: fixed;
        right: 0;
        top: 70%;
        font-size: 0;
    }

    &__checkbox {
        display: inline-block;
        vertical-align: top;
        opacity: 0;
        margin: 0;
        width: $check-box-size;
        height: $check-box-size;

        &:hover ~ .overlay__display-btn {
            background-color: lightgray;
        }

        &:checked ~ .overlay__display-btn--hide {
            display: none;
        }
        &:checked ~ .overlay__display-btn--show {
            display: block;
        }
        &:checked ~ .overlay__link-container {
            display: none;
        }
    }

    &__display-btn {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;

        background-color: white;
        color: black;

        font-weight: bold;
        font-family: "Courier New", Courier, monospace;
        font-size: 15px;
        text-align: center;
        /* vertical centering */
        line-height: $check-box-size;

        width: $check-box-size;
        height: $check-box-size;

        border: solid 1px lightgray;
        border-right: none;

        &--show {
        display: none;
        }
    }

    &__link-container {
        display: inline-block;
        width: $button-width;
        border: solid 1px lightgray;
    }
        &__link {
            display: block;
            width: 100%;
            padding: 10px 20px;
            border-bottom: solid 1px lightgray;
            color: black;
            font-size: 15px;
            background-color: white;

            &:last-of-type {
                border-bottom: none;
            }

            &:hover {
                background-color: lightgray;
            }
        }
}
