
.center-block {
    margin-left: auto;
    margin-right: auto;
}
.center-x-absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.center-y-absolute {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.center-xy-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.push-to-right {
    margin-left: auto;
}
/* defoult flex */
.d-flex {
    display: flex;
}
.content-wrapper-outer {
    max-width: $max-width-content;
    padding: 0 20px;
    background-color: inherit;
    color: inherit;
}
// TODO: pasalinti max-width-content
// kai visur bus naudojama content-wrapper
/*
.max-width-content {
    max-width: $max-width-content;
}
*/
.pre {white-space: pre;}
.relative {position: relative;}
