div(class="ad-area")       
    div(class="ad__slide  ad__slide--back1  ad__slideshow__delete")
        // ad__content-block exist because
        // ad__slide is inline block
        // ad__content-block is flex
        div(class="ad__content-block")
            div(class="ad__text-block")
                h1(class="ad__title"  style="color: white;") MacBook Air
            img(class="ad__img"  src="images/580b57fbd9996e24bc43bfd0.png")
    div(class="ad__slide  ad__slide--back2")
        div(class="background-1")
        div(class="ad__content-block")
            div(class="ad__text-block")
                h1(class="ad__title") Huawei P8 Lite
            img(class="ad__img"  src="images/58ac4dd20aaa10546adf2713.png")
    div(class="ad__slide  ad__slide--back3")
        div(class="ad__content-block")
            div(class="ad__text-block"  style="font-family:'EB Garamond', serif;  align-self: center;  padding: 0;")
                h1(class="ad__title") Macintosh 128K
                h1(class="ad__title  ad__info  pre") Whopping 128 KB RAM with&#10;7.8336 MHz&#10;Motorola 68000 microprocessor
                a(class="ad__btn-CTA  btn  btn--CTA" style="margin: 20px 0;"  href="#") Order NOW
                div(class="ad__em-text") Limited edition !!!
            img(class="ad__img"  src="images/580b57fbd9996e24bc43bfa4.png")
            
    div(class="ad__btn-container")
