div(class="footer")
    div(class="footer__content-area  content-wrapper-outer  center-block")
        div(class="footer__social-area")
            div(class="footer__social-block")
                input(class="input-text" type="email"  placeholder="Enter email for weekly newsletter")
                button(class="footer__sign-up-btn  btn  btn--submit") Sign Up
            div(class="footer__social-block  push-to-right")
                <i class="footer__social-link  fab fa-facebook-f"></i>
                <i class="footer__social-link  fab fa-twitter"></i>
                <i class="footer__social-link  fab fa-youtube"></i>
                <i class="footer__social-link  fab fa-instagram"></i>
        div(class="section-divider")
        div(class="footer__link-area")
            div(class="footer__link-block")
                h3 Categories
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
            div(class="footer__link-block")
                h3 Services
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
            div(class="footer__link-block")
                h3 Get to know us
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
            div(class="footer__link-block")
                h3 Partner with us
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
            div(class="footer__link-block")
                h3 In The Spotlight
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
                a(class="footer__link" href="#") Link
        div(class="section-divider")
        div(class="footer__copyright")
            p &copy 2019 copyright information
