div(class="top-nav")
    button(class="top-nav__btn") Link
    button(class="top-nav__btn") Link
    
    div(class="drop-btn")
        button(class="top-nav__btn") Drop down
        div(class="top-nav__drop-container  drop-container")
            button(class="top-nav__btn  top-nav__btn--drop") Link
            button(class="top-nav__btn  top-nav__btn--drop") Link
            div(class="slide-btn")
                button(class="top-nav__btn  top-nav__btn--drop") Slide left &#187;
                div(class="top-nav__drop-container  drop-container")
                    button(class="top-nav__btn  top-nav__btn--slide") Link
                    button(class="top-nav__btn  top-nav__btn--slide") Link
                    button(class="top-nav__btn  top-nav__btn--slide") Link
            button(class="top-nav__btn  top-nav__btn--drop") Link

    button(class="top-nav__btn") Link
    button(class="top-nav__btn") Link
    button(class="top-nav__btn") Link
//    
    div(class="top-nav")
        button(class="top-nav__btn") Link
        button(class="top-nav__btn") Link
        
        span(class="top-nav__btn  drop-btn") Drop down
            div(class="top-nav__drop-container  drop-container")
                button(class="top-nav__btn  top-nav__btn--drop") Link
                button(class="top-nav__btn  top-nav__btn--drop") Link
                span(class="top-nav__btn    top-nav__btn--drop  slide-btn") Slide left &#187;
                    div(class="top-nav__drop-container  drop-container")
                        button(class="top-nav__btn  top-nav__btn--drop") Link
                        button(class="top-nav__btn  top-nav__btn--drop") Link
                        button(class="top-nav__btn  top-nav__btn--drop") Link
                button(class="top-nav__btn  top-nav__btn--drop") Link

        button(class="top-nav__btn") Link
        button(class="top-nav__btn") Link
        button(class="top-nav__btn") Link
