div(class="top-bar")
    div(class="content-wrapper-outer  d-flex  center-block  relative")
        a(class="site-logo" href="#") Site Logo
        button(class="top-bar__btn-menu  btn  btn--top-bar  push-to-right") <i class="fas fa-bars"></i>
        div(class="top-bar__container-btn  d-flex  push-to-right")
            a(class="btn  btn--top-bar" href="#") About us
            a(class="btn  btn--top-bar" href="#") Delivery
            a(class="btn  btn--top-bar" href="#") Our App
            a(class="btn  btn--top-bar" href="#") Other services
            a(class="btn  btn--top-bar" href="#") <i class="fas fa-map-marker-alt"></i> Location
            a(class="btn  btn--top-bar" href="#") <i class="far fa-comment"></i> Contact us
        
//        
    div(class="top-bar")
        div(class="content-wrapper-outer  d-flex  center-block")
            a(class="site-logo" href="#") Site Logo
            a(class="btn  btn--top-bar  push-to-right" href="#") About us
            a(class="btn  btn--top-bar" href="#") Delivery
            a(class="btn  btn--top-bar" href="#") Our App
            a(class="btn  btn--top-bar" href="#") Other services
            a(class="btn  btn--top-bar" href="#") <i class="fas fa-map-marker-alt"></i> Location
            a(class="btn  btn--top-bar" href="#") <i class="far fa-comment"></i> Contact us
