$colors: (
    primary: black,
    secondary: white,
    accent1: rgb(235, 36, 120),
    accent1-lighter: rgb(238, 62, 136),
    accent2: rgba(143, 255, 0, 0.7),
    accent3: lightgray,
    social: rgb(41, 41, 41),
    //social: rgb(39, 64, 111),
);
