@media screen and (max-width: $mobile) {
    @supports (display:grid) {
        .main-grid {
            padding: 0;
            width: 100vw;
            height: 100vh;

            display: grid;
            grid-template-rows: repeat(6, min-content) auto repeat(2, min-content);
            grid-template-areas:
                " hp     hp "
                " hs-1   ht-1 "
                " ht-2   hs-2 "
                " hs-3   ht-3 "
                " hs-4   ht-3 "
                " nav    nav "
                " text   text "
                " social social "
                " footer footer ";
        }

        .header__primary {
            font-size: 70px;
            text-align: center;
            margin: 5px 0;
        }
        .header__secondary {display: none;}
        .header__tertiary {display: none;}

        [class^="hs-"],
        [class^="ht-"] {
            display: block;
            align-self: center;
        }

        .hs-1, .ht-2, .hs-3, .hs-4 {text-align: right;}

        .nav {
            text-align: center;
            background-color: inherit;
            margin-top: 15px;
        }
            .nav__btn {
                width: 100%;
                margin: 2px 0;
            }

        .landing-paragrapth {
            padding: 16px 32px;
        }
    }
}
